<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/footer.css">

    <title>Document</title>
</head>
<body>
<!-- Footer -->
<br>
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color:var(--main-bg-color);">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"></div>
          
          
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Paca Home</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>El sitio ofrece venta y alquiler de fogones a Bioetanol. Objetos de decoracion y calefacción mediante un sistema de combustión ecologica. Ofreciendo variedad de modelos y versiones de los mismos</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">PRODUCTOS</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">GRANDES</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">CHICOS</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">MEDIOS</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">DISEÑO</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">USUARIO</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href='miCuenta'>TU CUENTA</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">PEDIDOS</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">ENVIOS</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">AYUDA</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 id="footer" class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">



          <p>
            <i class="fas fa-home mr-3"></i><a href="https://goo.gl/maps/GC7jcamAvVCt3yFN9">Av. Siempreviva 123, CABA</a></p>
          <p>
            <i class="fas fa-envelope mr-3"></i><a href="mailto:info@pacahome.com">info@pacahome.com</a></p>
          <p>
            <i class="fas fa-phone mr-3"></i><a href="tel:+ 123123123123">+ 123123123123</a></p>
          <p>
            <i class="fas fa-print mr-3"></i><a href="fax:+ 0456565479">+ 0456565479</a></p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="">  - ALEJANDRO ARECO - RAMIRO MARTINEZ - PATRICIO FERNANDEZ - </a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->

 
    
</body>
</html>