<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/logueado.css">
    <title>Bienvenido a Paca</title>
  </head>
  <header>
    <%-include('./header.ejs')%>
  </header>
<body>
    <div class="container">
        <h2>Gracias por Iniciar Sesión en Fogones Paca</h2>
            <p>Bienvenido usuario</p>
               <div align="center"><img src="https://lh3.googleusercontent.com/proxy/clCvA6KnrDUS3riM5hA4jvWHwiS5Vq9nWi-2SBG_o7evEvCpWfJFv-nhcNb-f9FlYwf-YiRdf6Qr7rElDNyoaL7XSdgA_scYTc1DEwKeqfBn_TEVmFr6kSrQ1NWqRTOnl2L2Zw" alt="">
                </div>
    </div>
</body>
<br>
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Comenzar a Comprar</a>
          <a class="nav-link active" href="/miCuenta">Mi cuenta</a>
      </ul>
<br>
<footer>
    <%-include('./footer.ejs')%>
  </footer>
</html>