<!DOCTYPE html>
<head>
  <link  rel="icon"   href="/img/LOGOSIMPLE PNG.png" type="image/png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/logueado.css">
  <title>Bienvenido a Paca</title>
</head>
<header>
  <%-include('./homeHeader.ejs')%>
</header>
<body>
  <div class="container">
    <h2>Gracias por Iniciar Sesión en Fogones Paca</h2>
    <p style="color: blue;">Bienvenido <%= user.email %> </p>
  </div>
  <img src="/img/DSC_0052.JPG" class="rounded mx-auto d-block"  width="315" height="210" alt="welcome">
</body>
<br>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/home">Comenzar a Comprar</a>
    <li><a class="nav-link active" href="login/miCuenta">Mi cuenta</a></li> 
   
    <% if (user.admin == "admin") {  %>
    <li><a class="nav-link active" href="/productos/panelProducto">Administrador</a></li> %> 
    <% }   %>

  </ul>
  <br>
  <footer>
    <%-include('./footer.ejs')%>
  </footer>
  </html>