<!DOCTYPE html>
<html lang="en">
<head>
  <link  rel="icon"   href="/img/LOGOSIMPLE PNG.png" type="image/png" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/loginStyles.css">
  <title>Registro</title>
</head>
<header>
  <%-include('./homeHeader.ejs')%>
</header>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <br>
        <span class="badge badge-light"><h3>Registrate</h3></span>
        <br>
        <!-- agregue los errores -->
        <ul>
          <% if (typeof unosErrores != 'undefined') { %> 
          <% for (let i = 0; i < unosErrores.length; i++) { %> 
            <li> <%= unosErrores[i].msg  %></li>
          <% } %>
          <% } %>    
        </ul>
        <br>
        <form method="post" action="registro" enctype="multipart/form-data">
          <div class="form-group">
            <label for="">Nombre</label>
            <input id="nombre" type="name" class="form-control" name="firstname">
            <small class="text-alert" id="name"></small>
          </div>
          <div class="form-group">
            <label for="">Apellido</label>
            <input id="apellido" type="lastname" class="form-control" name="lastname">
            <small class="text-alert" id="apell"></small>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <input id="mail" type="email" class="form-control" name="email">
            <small id="errorMail" class="text-alert" ></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input id="pass" type="password" class="form-control" id="exampleInputPassword1" name="passw">
            <small id="errorPass" class="text-alert"></small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Imagen de Perfil</label>
            <input id="img" type="file" class="form-control" id="avatar" name="avatar" enctype="multipart/form-data">
            <small id="errorImg" class="text-alert"></small>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>

  <script src="../js/registro.js"></script>

  <footer>
    <%-include('./footer.ejs')%>
  </footer>  