<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="icon"   href="/img/LOGOSIMPLE PNG.png" type="image/png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Usuarios Registrados en Fogones Paca</h1>
    <ul>
        <% for (let i = 0; i < products.length; i ++ ) { %>
        <li>Producto : <%= products[i].name %> || Precio : <%= products[i].price %> </li>
        <% } %> 
    </ul>
</body>
</html>