*{
    box-sizing: border-box;
    text-transform: uppercase;
}

element.style {
    height: 200px;
}
.detalleProducto{
    padding-left: 5px;
    padding-top: 8px;
}
.card-text{
    margin-bottom: 5px;
}
.card-title{
    margin-bottom: 5px;
}
#envio{
margin-bottom: 0px;
}
.entrega{
    padding: 5px;
}
.total{
    margin-bottom: 0px;
}

@media (min-width: 768px){
.inicioCompra{
    margin-top: 55px;
}
}