#imagen{
    width: 75%;
    margin-top: 5%;
}
#formu-contact{
    margin-top: 5%;
}

#icon{
    display: inline-block;
    margin-right: 20px; 
    justify-content: center;
}
#icon a{
    color: black;
    
    
    }
dl, ol, ul, li,a {
    text-align: left;
        
}
.redess{
    margin-top: 30px;
    text-align: center;
}