*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}


:root {
    --main-bg-color:  #dcdcdc;
}
#subr{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .6s;
}

#subr:hover, a:focus {
    background-size: 100% 2px;
}