* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
}
img{
    transform: scale(1)
}
ul {
    justify-content: center;
}

li{
    color:black;
}

.btn{
    padding: 0;
    margin: 0;
    border-radius: 0;
    background-color:gray;
    width: 50%;
    float: left;
    border-color: gray;

}
#carouse{
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
 
}
#envio{
    margin-left: 10%;
    margin-right: auto;
    width: 80%;
}
.mediosPago{
    margin-top: 5%;
    margin-bottom: 5%;
    
    
}
#icono{
    float: left;
    margin-right: 6%;
}
@media (min-width: 480px) { 
    header {
        background-color: white;
    }
    header div nav{
        justify-content: flex-start;
    }
    header div nav ul{
        display: flex;
        align-items: flex-start;
    }
     
    header div button.burger{
        justify-content: center;
        display: none;
    }
    header div nav ul li a{
        color: black;
        margin-right: 20px;
    }
    
}
.card{
    padding: 10px;
}
.card-img-top{
    height: 280;
    padding: 10px;
}

card img{
    width: 100px; 
    height: 400px;
}
