body h2 {
    text-align: center;
}

body h4 {
    text-align: center;
}

p#cuerpo {
    align-content: center;
    text-align: center;
}
#hojas{
    width: 1110px;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }

  li {
      margin-left: 5px;
}
#paso1{
    width: 100%;
    height: 350px;
    margin-bottom: 2%;
}
.card-body{
    font-family: 'Tinos', serif;
}
@media (max-width: 480px) {
    #hojas{
        width: 555px;
    }
}