h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    align-content: center;
    text-align: center;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }