/***************************
BODY
***************************/
body{
    background-color:none;
} 


.container{
    background-color: none;
    justify-content: center;
    text-align: center;
}

.form-group{
    background-color:none;
    text-align: center;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.col-12 {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.badge badge-light{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 5px solid black;
}
