* {
    box-sizing: border-box;
  }
/*HEADER*/
body header{
    font-weight: bold;
    text-transform: uppercase;    
}
header img{
float: left;
width: 150px;
height: 145px;
margin-left: 15px;
margin-right: 60px;
margin-top: 5px;
}
header{
    background-image: url(logo.png);
    background-size: 30% 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: top;
}

.ingreso{
margin-top: 50px;
flex: auto;
float: right;
margin-right: 30px;
font-size: 10px;
}
.barra-nav{
background-color: #dcdcdc;
height: 50px;
margin-top: 150px;
width: 100%;
}
header div ul li{
    list-style-type: none;
    float: left;
    padding: 12px;

}
.menu{
float: left;
padding-left: 10px;
}

.redesCarrito{
justify-content: right;
}
.carrito{
    float: right;
    
}

.redes{
    float: right;
    padding-right: 5%;
}

i{
    font-size: xx-large;
}
/*SECTION*/
section p {
    font-weight: bold;
    text-transform: uppercase;   
}
/*FOOTER*/
footer{
    background-image: url(footer.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #dcdcdc;
    text-transform: uppercase;  
}
footer div ul li{
    list-style-type: none;
    text-align: left;
 }
 footer h5{
     text-align: left;
     margin-left: 40px;
 }

 @media(max-width:767px){
     body{
         
         background-color: red;
     }
 }


 @media(max-width: 480px){
body{

    background-color: blue;
}

 }